<% if image.file.present? %>
<div class="O_ReferenceCard">
  <%= image_tag image.file.url, alt: image.title, class: "A_PhotoRef" %>
  
  <% if image.title.present? %>
    <p class="A_TextEffectCard A_TextRefCard"><%= image.title %></p>
  <% end %>
</div>
<% end %>