<% content_for :title, "Editing collection" %>

<%
  set_meta_tags(
    title: "Редактировать коллекцию",
    description: "Редактировать коллекцию на Eflectica",
    keywords: "коллекции эффектов, коллекции пресетов"
  )
%>

<h1>Editing collection</h1>

<%= render "form", collection: @collection %>
