<% content_for :title, "Editing question" %>

<%
  set_meta_tags(
    title: "Редактировать обсуждение",
    description: "Редактировать обсуждение на Eflectica",
    keywords: "обсуждения, вопросы"
  )
%>

<h1>Редактировать</h1>

<%= render "form", question: @question %>

