<% content_for :title, "New question" %>

<%
  set_meta_tags(
    title: "Создать обсуждение",
    description: "Создай обсуждение на Eflectica",
    keywords: "эффекты, пресеты"
  )
%>

<h1>Создать Обсуждение</h1>

<%= render "form", question: @question %>
