<% content_for :title, "New question" %>

<%
  set_meta_tags(
    title: "Создать обсуждение",
    description: "Создай обсуждение на Eflectica",
    keywords: "эффекты, пресеты"
  )
%>

<div class='Q_Section Q_SectionFavorites'>
  <h1>Задай вопрос сообществу</h1>

  <%= render "form", question: @question %>
</div>
