<%
  set_meta_tags(
    title: "Избранное",
    description: "Ваши избранные коллекции на Eflectica",
    keywords: "коллекции эффектов, коллекции пресетов"
  )
%>

<% content_for :title, "Favorites" %>

<div class='Q_Section Q_SectionFavorites'>
  <% if @favorites.any? %>
    <div class='C_allFavorites'>
      <% @favorites.each do |favorite| %>
        <%= render partial: "effects/effect_favorite", locals: { effect: favorite.effect } %>
      <% end %>
    </div>
    <div class="O_Pagination">
      <%= paginate @favorites %>
    </div>
  <% else %>
    <p>Такого у нас нет :(</p>
  <% end %>
</div>