<p style="color: green"><%= notice %></p>

<%
  set_meta_tags(
    title: "Избранное",
    description: "Ваши избранные коллекции на Eflectica",
    keywords: "коллекции эффектов, коллекции пресетов"
  )
%>

<% content_for :title, "Favorites" %>

<h1 class="titleQuestion">Избранное</h1>

<div id="favorites">
  <% @favorites.each do |favorite| %>
    <div class="favorite-item">
      <%= render partial: "effects/effect", locals: { effect: favorite.effect } %>
    </div>
  <% end %>
</div>
