<div class='M_userComment'>
	<div></div>
	<div></div>
	<div class='W_allUserInfo'>
		<div class='W_aboutUser'>
			<%= image_tag image_path, alt: 'Описание изображения', class: 'custom-image' %>
			<div>
				<h2><%= name %></h2>
				<h2><%= date %></h2>
			</div>
		</div>
		<p><%= content %></p>
	</div>
</div>