<div id="<%= dom_id collection_effect %>">
  <p>
    <strong>Collection:</strong>
    <%= collection_effect.collection_id %>
  </p>

  <p>
    <strong>Effect:</strong>
    <%= collection_effect.effect_id %>
  </p>

</div>
