<% content_for :title, "New collection effect" %>

<h1>New collection effect</h1>

<%= render "form", collection_effect: @collection_effect %>

<br>

<div>
  <%= link_to "Back to collection effects", collection_effects_path %>
</div>
