<%
  set_meta_tags(
    title: "Мои эффекты",
    description: "Эффекты, созданные пользователем",
    keywords: "мои эффекты, персональные эффекты"
  )
%>

<div class='Q_Section Q_SectionActive Q_SectionActiveMyEffect'>
  <div class="O_myEffects">
    <h1 class="A_Header1">Мои эффекты</h1>

    <div class="W_searchPublishPost">
      <div class='W_inputIcon'>
        <input type="text" class='A_searchInput W_inputIconEffectSearch' placeholder='Поиск эффектов'>
        <%= image_tag("Q_IconSearch.svg", alt: "Картинка рейтинга", class: "Q_IconSearch") %>
      </div>
      <button class='A_ButtonPrimary A_MorePC'>
        <%= image_tag("Q_IconCreateEffect.svg", alt: "Картинка рейтинга", class: 'A_DownloadButton') %>
        Написать пост
      </button>
    </div>

    <div class="W_allMyEffects">
      <% if @effects.present? %>
        <div class="C_Effects">
          <% @effects.each do |effect| %>
            <%= render partial: "effects/effect", locals: { effect: effect } %>
          <% end %>
        </div>
      <% else %>
        <p>У вас пока нет созданных эффектов.</p>
      <% end %>
    </div>
  </div>
</div> 