<% content_for :title, "New effect" %>

<%
  set_meta_tags(
    title: "Создать эффект",
    description: "Создай самый лучший эффект на Eflectica",
    keywords: "эффекты, пресеты"
  )
%>

<h1>Создание эффекта</h1>

<%= render "form", effect: @effect %>

<br>

<div>
  <%= link_to "Вернуться ко всем эффектам", effects_path %>
</div>
