<% content_for :title, "Доступ запрещен — 403" %>

<div class="O_errorPage">
  <div class="W_errorContainer">
    <h1 class="A_Header404">403</h1>  
    <h3 class="A_Header3">Кажется, эта страница находится за пределами рабочей области</h3>
     
    <button class="A_ButtonPrimary">
      <%= link_to "На главную", root_path, class: "Q_whiteText" %>
    </button>

    <div class="W_Particles">
      <div class="Q_Particle"></div>
      <div class="Q_Particle"></div>
      <div class="Q_Particle"></div>
      <div class="Q_Particle"></div>
    </div>
  </div>
</div> 