<div id="<%= dom_id sub_collection %>">
  <p>
    <strong>Collection:</strong>
    <%= sub_collection.collection_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= sub_collection.user_id %>
  </p>

</div>
