.M_Info {
  display: flex;
  gap: 1.667vw;
}

.M_Creators,
.M_Curators {
  display: flex;
  flex-direction: column;
  gap: 0.625vw;
}

.M_aboutEffects {
  margin-top: 1.992vw;
  display: flex;
  flex-direction: column;
  gap: 0.833vw;
}

.M_allCategories {
  padding: 4.479vw 2.833vw 4.688vw 3.229vw;
  width: 72.396vw;
  flex-shrink: 0;
  border-radius: 0.417vw;
  background: var(--foggy-grey, #f5f5f5);
}

.M_aboutEffectsFeed {
  padding-top: 1.667vw;
  margin-top: 0.833vw;
}

.M_TextEffectСard {
  display: flex;
  padding: 0 2.837%;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.M_createPostCard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.667vw 1.146vw 1.667vw 1.094vw;
  justify-content: space-between;
  width: 23.594vw;
  height: 26.042vw;
  border-radius: 0.417vw;
  overflow: hidden;
  background: var(--foggy-grey, #f5f5f5);
}

.M_createPostCardMobile {
  display: none;
}

.M_CollectionForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.833vw;
  align-self: stretch;
  width: 24.74vw;
}

.M_CollectionFormRow {
  flex-direction: row;
  width: auto;
}

.M_CollectionFormVideo {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.M_CollectionFormCategory {
  width: auto;
}

.M_CollectionFormBig {
  width: 38.177vw;
}

.M_CategoriesContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.42vw 0vw;
}

.M_CollectionFormThird {
  flex-direction: row;
  gap: 4.896vw;
  width: 100%;
}

.M_CollectionFormRef {
  margin-top: 1.25vw;
}

.M_Sort {
  display: inline-flex;
  align-items: center;
  gap: 0.625vw;
}

.M_RadioSettings {
  cursor: pointer;
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 0.625vw;
  align-self: stretch;
}

.M_TagsCollection {
  display: flex;
  width: 34.116%;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.313vw;
}

.M_HeaderEffects {
  display: flex;
  padding-right: 0.104vw;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.M_HeaderEffectsCategories {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.833vw;
  width: fit-content;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;

  > img {
    width: 1.266vw;
    height: 0.729vw;
  }
}

.M_collectionSection {
  padding: 1.667vw 0 2.188vw 3.229vw;
  width: 72.396vw;
  border-radius: 0.417vw;
  background: var(--foggy-grey, #f5f5f5);
}

.M_collectionSectionFull {
  width: 96.875vw;
  min-height: 100vh;
}

.M_appStore {
  overflow: hidden;
  padding-top: 1.667vw;
  width: 23.594vw;
  height: 33.698vw;
  border-radius: 0.417vw;
  background: var(--foggy-grey, #f5f5f5);
}

.M_SettingsNavigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.M_ProgressBar {
  width: 100%;
}

.M_PhotoDescription {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625vw;
  align-self: stretch;
}

.M_PhotoElement {
  width: 10.729vw;
  height: 10.729vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--soft-grey, #ebebeb);
}

.M_PhotoElementPreviewImage {
  background: var(--soft-grey, #ebebeb);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10.729vw;
  height: 10.729vw;

  > img {
    width: 4.113vw;
    height: 4.113vw;
  }
}

.M_CategoriesWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625vw;
}

.M_PhotoElementPreview {
  display: flex;
  width: 10.729vw;
  flex-direction: column;
  align-items: center;
  gap: 0.833vw;
}

.M_SettingsNavigationEffect {
  margin-top: 1.667vw;
}

.M_iphoneBanner {
  overflow: hidden;
  padding-top: 1.667vw;
  width: 23.594vw;
  height: 26.042vw;
  border-radius: 0.417vw;
  background: var(--foggy-grey, #f5f5f5);
}

.M_HeaderEffect {
  display: inline-flex;
  align-items: center;
  gap: 0.417vw;
}

.M_PhotoEffect {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.417vw;
}

.M_Buttons {
  margin-top: 1.667vw;
  display: inline-flex;
  align-items: center;
  gap: 0.833vw;
}

.M_ButtonsSettings {
  margin-top: 0;
}

.M_AuthorComment {
  display: flex;
  align-items: center;
  gap: 0.417vw;
}

.M_Stars {
  display: flex;
  align-items: center;
}

.M_StarsMy {
  margin-left: 2.917vw;
}

.M_Choice {
  display: flex;
  height: 2.81vw;
  padding: 0.52vw 0.83vw;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: var(--button, 0.42vw);
  border: var(--border, 0.1vw) solid var(--grey-tag, #e1e1e1);
  background: var(--porcelain-white, #fff);
  width: 17.19vw;
  cursor: pointer;
  transition: background-color 0.2s ease, border-color 0.2s ease;

  /* display: flex;
  height: 2.813vw;
  padding: 0.521vw 0px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-bottom: var(--border, 0.104vw) solid var(--grey-tag, #e1e1e1);
  background: var(--porcelain-white, #fff); */
}

.M_Choice:hover {
  border-color: var(--computer-blue, #0638bd);
}

.M_ChoiceEffect {
  border: none;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  border-bottom: var(--desktop-border, 2px) solid var(--grey-tag, #e1e1e1);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.M_ChoiceEffect:last-child {
  border-bottom: none;
}

.M_ChoiceBlue {
  cursor: pointer;
  display: flex;
  width: 17.188vw;
  height: 2.813vw;
  padding: 0.521vw 0.625vw;
  justify-content: center;
  align-items: center;
  gap: 0.521vw;
  border-radius: var(--button, 0.417vw);
  border: var(--border, 0.104vw) solid var(--computer-blue, #0638bd);
  background: var(--porcelain-white, #fff);
}

.M_feedSettings {
  overflow: hidden;
  position: relative;
  margin-top: 0.833vw;
  padding: 1.667vw 0 3.385vw 3.229vw;
  width: 96.875vw;
  height: 16.406vw;
  border-radius: var(--button, 0.417vw);
  background: var(--foggy-grey, #f5f5f5);
}

.M_Platforms {
  display: flex;
  align-items: center;
  gap: 0.417vw;
}

.M_Socials {
  display: flex;
  align-items: center;
  gap: 0.417vw;
  align-self: stretch;
}

.M_Menu {
  display: flex;
  align-items: center;
}

.M_QuestionFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;

  > p {
    color: var(--ordinary-grey);
  }
}

.M_Filtration {
  display: inline-flex;
  align-items: center;
  gap: 0.417vw;
}

.M_SearchField {
  > form {
    display: flex;
    width: 13.438vw;
    padding: 0.417vw 1.042vw;
    align-items: center;
    gap: 0.313vw;
    border-radius: 0.313vw;
    background: var(--grey-veil);

    > img {
      width: 1vw;
      height: auto;
    }
  }
}

.M_EffectFooter {
  display: flex;
  align-items: center;
  gap: 0.833vw;
}

.M_EffectFooterShow {
  gap: 0.313vw;
  height: 1.627vw;

  > img {
    width: 1.302vw;
    height: auto;
  }

  > p {
    color: var(--charcoal-black);
  }
}

.M_RaitingEffect {
  display: flex;
  align-items: center;
  gap: 0.104vw;
}

.M_TagCollection {
  display: flex;
  align-items: center;
  gap: 0.313vw;
}

.M_PhotoCollection {
  display: flex;
  align-items: center;
  gap: 0.417vw;
  align-self: stretch;
}

.M_FiltrationNews {
  margin-top: 0.625vw;
}

.M_Program {
  label {
    width: 9.271vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-bottom: 0.104vw solid var(--soft-grey);
  }
}

.M_Category {
  display: flex;
  height: 2.083vw;
  padding: 0.417vw 0.625vw;
  align-items: center;
  width: 9.971vw;
  justify-content: space-between;

  > a {
    color: var(--charcoal-black);
    font-family: "Basis Grotesque Pro";
    font-size: 0.729vw;
    font-style: normal;
    font-weight: 400;
    line-height: 0.938vw;
  }
}

.M_ProfileContacts {
  display: flex;
  flex-direction: column;
  gap: 0.208vw;
  align-self: stretch;
}

.M_Telegram {
  display: flex;
  align-items: center;
  gap: 0.208vw;

  > img {
    width: 1.302vw;
    height: auto;
  }
}

.M_ProfilePosts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.M_Nvigation {
  display: flex;
  align-items: center;
  gap: 0.208vw;
}

.M_NvigationShow {
  margin-left: -0.833vw;
}

.M_QuestionProgram {
  display: flex;
  align-items: center;
  gap: 0.313vw;
}

.M_Author {
  display: flex;
  align-items: center;
  gap: 0.625vw;

  > img {
    width: 2.604vw;
    height: auto;
  }

  > p {
    color: var(--charcoal-black);
    text-transform: lowercase;
  }
}

.M_aboutConfig {
  margin-top: 1.667vw;
  width: 47.708vw;
  display: flex;
  justify-content: space-between;
}

.M_Tag {
  display: flex;
  height: 1.771vw;
  padding: 0 1.25vw;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.313vw;
  border: 0.078vw solid var(--soft-grey);
  background: var(--porcelain-white);
}

.M_instructionsEffect {
  margin-top: 2.188vw;
  display: flex;
  flex-direction: column;
  gap: 0.833vw;
}

.M_StarRate {
  display: flex;
  align-items: center;

  > img {
    width: 1.042vw;
    height: auto;
  }
}

.M_MyComment {
  display: flex;
  flex-direction: column;
  gap: 0.417vw;
}

.M_imgsEffects {
  display: flex;
  gap: 3.033vw;
}

.M_allPicturesDescribe {
  margin-top: 3.436vw;
  display: flex;
  gap: 9.514vw;
}

.M_opportunityService,
.M_presetsToCollections,
.M_groopsPromo,
.M_emailsPromo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.M_opportunityService {
  margin-top: 10.969vw;
}

.M_presetsToCollections {
  margin-top: 9.375vw;
}

.M_groopsPromo {
  margin-top: 10.042vw;
}

.M_emailsPromo {
  margin-top: 10.106vw;

  > p {
    width: 28.352vw;
    margin-top: 1.726vw;
    text-align: center;
    font-family: "Basis Grotesque Pro";
    font-size: 1.944vw;
    font-weight: 500;
    line-height: 122.765%;
  }
}

.M_userComment {
  position: relative;

  > div:nth-child(1),
  > div:nth-child(2) {
    position: absolute;
    width: 29.768vw;
    height: 11.177vw;
    border-radius: 0.347vw;
    border: 1px solid #8f8f8f;
  }

  > div:nth-child(1) {
    top: -7.45px;
    left: 7.67px;
  }

  > div:nth-child(2) {
    top: -15.45px;
    left: 15.67px;
  }
}

.M_userCommentLast {
  > div {
    .W_allUserInfo {
      > p {
        width: 24.442vw;
      }
    }
  }
}

.M_formSubscription {
  display: flex;
  margin-top: 3.343vw;
  gap: 0.908vw;

  > input[type="email"] {
    width: 36.716vw;
    height: 4.281vw;
    padding: 0.519vw 0.778vw 0.778vw 1.946vw;
    border-radius: 2.595vw;
    background: #e8e2f0;
    font-family: "Basis Grotesque Pro";
    font-size: 1.944vw;
    font-weight: 400;
    line-height: 105.092%;

    &::placeholder {
      color: rgba(0, 0, 0, 0.7);
    }
  }

  > input[type="submit"] {
    cursor: pointer;
    display: flex;
    width: 15.347vw;
    height: 4.281vw;
    align-items: center;
    border-radius: 2.595vw;
    border: 0.195vw solid #000;
    background: #000;
    color: #fff;
    font-family: "Basis Grotesque Pro";
    font-size: 1.944vw;
    font-weight: 400;
    line-height: 105.092%;
  }
}

.M_imgWithBackground {
  position: relative;

  > img,
  > div {
    width: 21.778vw;
    height: 21.778vw;
    border-radius: 0.347vw;
  }

  > img {
    position: relative;
    z-index: 3;
  }

  > div {
    position: absolute;
    border: 1px solid #8f8f8f;
  }

  > div:nth-child(1) {
    top: -0.683vw;
    left: 0.764vw;
  }
  > div:nth-child(2) {
    top: -1.377vw;
    left: 1.528vw;
  }
}

.M_scrollBarSettingsImgs {
  display: flex;
  flex-direction: column;
  gap: 0.885vw;

  > p {
    font-family: "Basis Grotesque Pro";
    font-size: 1.667vw;
    font-weight: 500;
    line-height: 122.765%;
  }

  > div {
    position: relative;

    > img,
    > div {
      width: 20.139vw;
      height: 20.139vw;
      border-radius: 0.347vw;
    }

    > img {
      position: relative;
      z-index: 3;
    }

    > div {
      position: absolute;
      border: 1px solid #8f8f8f;
    }

    > div:nth-child(1) {
      top: -9px;
      left: 11px;
    }
    > div:nth-child(2) {
      top: -18px;
      left: 22px;
    }
  }
}

.M_NvigationShowCollection {
  margin: 0;
  position: absolute;
  top: 1.176vw;
  left: 1.25vw;
}

.M_userInfoSettings {
  margin-top: 1.667vw;
  display: flex;
  justify-content: space-between;
}

.M_userInfoSettingsEdit {
  flex-direction: column;
  height: 100%;
}

.M_allStaff {
  margin-top: 1.667vw;
  display: flex;
  flex-direction: column;
  gap: 3.33vw;
}

.M_userInfo {
  display: flex;
  gap: 2.083vw;
}

.M_AuthForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.67vw;
  width: 100%;
}

.M_userInfoEdit {
  gap: 3.438vw;
}

.hidden {
  display: none;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .M_Info {
    gap: 2.344vw;
  }

  .M_Creators {
    gap: 1.042vw;
  }

  .M_PhotoEffect {
    gap: 0.823vw;
  }

  .M_createPostCardPC,
  .M_iphoneBanner {
    display: none !important;
  }

  .M_allCategories {
    width: 95.833vw;
    border-radius: var(--tablet-button, 0.781vw);
    padding: 3.125vw 3.906vw 8.333vw 3.906vw;
  }

  .M_Platforms {
    width: 100%;
  }

  .M_Sort {
    flex-direction: column;
  }

  .M_collectionSection {
    padding: 2.474vw 3.906vw 5.527vw 3.906vw;
    width: 95.833vw;
    border-radius: var(--tablet-button, 0.781vw);
  }

  .M_appStore {
    display: none;
  }

  .M_HeaderEffect {
    > h1 {
      text-align: center;
    }
  }

  .M_userInfoSettings {
    margin-top: 4.167vw;
  }

  .M_allStaff {
    margin-top: 2.604vw;
    gap: 3.125vw;
  }

  .M_CollectionForm {
    gap: 1.042vw;
    width: 42.708vw;
  }

  .M_userInfo {
    gap: 5.99vw;
  }

  .M_CollectionFormVideo {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .M_aboutEffects {
    margin-top: 5.581vw;
    gap: 2.326vw;
  }

  .M_TextEffectСard {
    display: flex;
    padding: 0;
    justify-content: space-between;
    gap: 2.326vw;
    padding-right: 3.077vw;
  }

  .M_TagsCollection {
    gap: 1.86vw;
  }

  .M_Menu {
    display: none;
  }

  .M_Info {
    gap: 4.615vw;
  }

  .M_appStore {
    display: none;
  }

  .M_Creators,
  .M_Curators {
    gap: 2.051vw;
  }

  .M_createPostCard {
    padding: 6.977vw 4.651vw;
    justify-content: space-between;
    width: 100vw;
    height: 103.311vw;
    border-radius: 0.417vw;
    overflow: hidden;
    background: var(--foggy-grey, #f5f5f5);
  }

  .M_collectionSection {
    padding: 7.949vw 2.051vw 8.485vw 2.051vw;
    width: 93.846vw;
    border-radius: var(--mobile-button, 1.538vw);

    > h2 {
      text-align: start;
    }
  }

  .M_createPostCardMobile {
    display: flex;
  }

  .M_HeaderEffect {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .M_createPostCardPC {
    display: none !important;
  }

  .M_PhotoEffect {
    gap: 1.621vw;

    > p {
      font-size: 4.103vw;
    }

    > img {
      width: 89.744vw;
      height: 50.918vw;
    }
  }

  .M_Buttons {
    margin-top: 6.154vw;
  }

  .M_Socials {
    gap: 1.86vw;
  }

  .M_AuthorComment {
    gap: 3.721vw;
  }
  .M_StarsMy {
    margin-left: 15.116vw;
  }

  .M_MobileSearchResults {
    margin-top: 7.69vw;
  }

  .M_MobileMenuContent {
    width: 93.85vw;
    min-height: 100vh;
    height: fit-content;
    padding: 2.05vw;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .M_MobileMenuContentBurger {
    height: fit-content;
    padding: 12.308vw 0;
    align-items: center;
    min-height: auto;
    display: none;
  }

  .W_similarEffects .M_HeaderEffects {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 3.721vw;
  }

  .M_HeaderEffectsMargin {
    margin-bottom: 0 !important;
  }

  .M_allStaff {
    margin-top: 6.977vw;
    gap: 6.154vw;
  }

  .M_allCategories {
    width: 93.846vw;
    border-radius: var(--mobile-button, 1.538vw);
    padding: 7.59vw 2.051vw 12.41vw 2.051vw;

    > h1 {
      text-align: start;
    }
  }

  .M_iphoneBanner {
    display: none;
  }

  .M_HeaderEffects {
    align-items: center;
  }

  .M_CollectionForm {
    gap: 2.051vw;
    width: 78.974vw;
  }

  .M_RadioSettings {
    gap: 1.997vw;
  }

  .M_userInfoSettings {
    margin-top: 6.154vw;
    justify-content: center;
  }

  .M_userInfo {
    flex-direction: column;
    align-items: center;
    gap: 3.077vw;
  }

  .M_CollectionFormVideo {
    flex-direction: column;
  }

  .M_HeaderEffectsCategories {
    gap: 2.564vw;

    > img {
      width: 4.128vw;
      height: 3.077vw;
    }
  }
}
