.Q_Photo {
	> img {
		height: 4.844vw;
	}
}

.Q_PhotoEffect {
	width: 100%;
	height: 6.25vw;
	overflow: hidden;

	> img {
		width: 100%;
		height: auto;
	}
}

.Q_PhotoProgram {
	> img {
		width: 1.302vw;
		height: 1.302vw;
	}
}

.Q_Indicator {
	width: 0.781vw;
	height: auto;
}

.Q_Section {
	width: 83.229vw;
	height: fit-content;
	background: var(--foggy-grey);
	border-radius: 0.365vw;
	display: flex;
	flex-direction: column;
}

.Q_Section3 {
	margin-top: 1.536vw;
	display: flex;
	justify-content: center;
}

.Q_searchInput {
	
	width: 10vw;
}

.Q_SectionActive {
	border-top-left-radius: 0;
}

.Q_sectionQuestion1 {
	width: 44.792vw;
	height: fit-content;
	padding: 1.354vw 1.927vw 1.667vw 2.083vw;
	border-radius: 0.313vw;
	background: var(--foggy-grey);
}

.Q_PhotoShow {
	> img {
		width: 10.104vw;
		height: auto;
	}
}

.Q_sectionQuestion2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 37.604vw;
	padding: 1.25vw 1.25vw 2.135vw 1.25vw;
	border-radius: 0.313vw;
	background: var(--foggy-grey);
}

.Q_SectionRegister {
	height: 42.24vw;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.Q_sectionRegister2 {
	position: relative;
	width: 13.438vw;
	background-color: var(--foggy-grey);
	border-radius: 0.365vw;
}

.Q_sectionSubscription {
	position: relative;
	min-height: 40.938vw;
	padding-left: 3.229vw;
}

.disabled123 {
	background-color: transparent !important;
}

.Q_Overlay {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	z-index: 10;
	width: 85%;
	min-height: 100vh;
	background: rgba(163, 163, 167, 0.20);
	backdrop-filter: blur(15px);
}

.Q_FavoriteSection {
	padding: 0.885vw;
	border: 1px solid var(--computer-blue);
	background: transparent;
	position: relative;
}

.Q_SegmentSection {
	width: 0.521vw;
	height: 0.521vw;
	border: 1px solid var(--computer-blue);
	background: var(--foggy-grey);
	position: absolute;

	&:nth-child(1) {
		top: -0.26vw;
		left: -0.26vw;
	}

	&:nth-child(2) {
		bottom: -0.26vw;
		left: -0.26vw;
	}

	&:nth-child(3) {
		top: -0.26vw;
		right: -0.26vw;
	}

	&:nth-child(4) {
		bottom: -0.26vw;
		right: -0.26vw;
	}

	&:nth-child(5) {
		top: -0.26vw;
		left: calc(50% - 0.26vw);
	}

	&:nth-child(6) {
		bottom: -0.26vw;
		left: calc(50% - 0.26vw);
	}
}

.Q_FilterArrowUpDown {
	width: 0.625vw;
	height: auto;
}

.Q_NavigationIconArrow {
	height: 0.5vw;
	width: auto;
	margin-bottom: 0.104vw;

	&:hover {
		> path {
			fill: var(--charcoal-black);
		}
	}

	> path {
		transition: fill .3s ease-out;
		fill: var(--ordinary-grey);
	}
}

.Q_NavigationIconArrowLeft {
	transform: rotate(180deg);
}

.Q_NavigationIconArrowDisabled {
	> path {
		fill: var(--charcoal-black);
	}
}

.Q_roundElement {
	width: 0.417vw;
	height: 0.417vw;
	position: absolute;
	bottom: 0;
	right: -0.417vw;
}

.Q_roundElementLeft {
	transform: scaleX(-1);
	left: -0.417vw;
}

.Q_sectionRegister {
	width: 13.438vw;
	height: 100%;
	background: var(--foggy-grey);
}

.Q_PhotoProgram {
	width: 1.302vw;
	height: auto;

	> img {
		width: 1.302vw;
		height: auto;
	}
}

.Q_StarIcon {
	width: 1.042vw;
	height: auto;
}

.Q_FavoriteRec {
	top: 0;
	right: 1.042vw;
	position: absolute;
	width: 0.729vw;
	height: 0.573vw;
	background: #D9D9D9;
}

.Q_FavoriteRecBottom {
	top: 2.320vw;
}

.Q_SectionFavorites {
	display: flex;
	min-height: 43.032vw;
	align-items: center;
	margin: 0 auto;
	border-top-right-radius: 0;
}

.Q_ImageSeed1 {
	width: 10.104vw;
	height: auto;
}

.Q_ImageSeed2 {
	width: 4.844vw;
	height: auto;
}

.Q_Subscription {
	margin-top: 0.833vw;
	padding: 1.25vw 0 1.667vw 3.125vw;
	border-radius: 0.365vw;
	width: 83.229vw;
	height: fit-content;
	background: var(--foggy-grey);
}

.Q_ImageSeedSub {
	width: 3.802vw;
	height: auto;
}

.Q_filteredEffects {
	position: relative;
	display: flex;
	gap: 7.292vw;
	padding: 1.25vw 0 3.802vw 2.188vw;
}

.Q_sectionEffect1 {
	width: 51.875vw;
	padding: 1.198vw 2.083vw 2.76vw 2.083vw;
	height: fit-content;
	background: var(--foggy-grey);
	border-radius: 0 0.365vw 0.365vw 0.365vw;
}

.Q_Section3Reg {
	margin: 0;
}

.Q_sectionEffect2 {
	width: 30.521vw;
	height: fit-content;
	padding: 1.25vw 1.25vw 1.875vw 1.25vw;
	border-radius: 0.313vw;
	background: var(--foggy-grey);
}

.Q_SectionCollection {
	position: relative;
	display: flex;
	padding: 1.176vw 0 0 0;
	flex-direction: column;
	align-items: center;
	background: var(--foggy-grey);
	width: 83.229vw;
	min-height: 50.655vw;
	border-radius: 0.365vw;

	* {
		width: fit-content;
	}
}

