.S_FavoriteSection {
  margin: 1.094vw auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.104vw;

  > h1 {
    padding-left: 0.833vw;
    margin-bottom: 0.26vw;
  }
}

.S_mainLayout {
  display: flex;
  gap: 0.833vw;
}

.S_contentQuestion {
  display: flex;
  gap: 0.833vw;
}

.S_FavoriteSectionShow {
  margin: 0;
}

.S_allInfoEffect {
  display: flex;
  gap: 0.833vw;
}

.S_FeedSettings {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-flex;
  padding: 2.083vw 2.5vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.911vw;
  border-radius: var(--main, 0.625vw);
  border: var(--border, 0.104vw) solid var(--input-grey, #c7c7ca);
  background: var(--porcelain-white, #fff);
  z-index: 1000;
}

.S_FeedSettingsSave {
  display: inline-flex;
  padding: 1.25vw 1.25vw 1.25vw 1.67vw;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5vw;
  border-radius: var(--desktop-main, 0.63vw);
  background: var(--porcelain-white, #fff);
}

.S_FeedSettingsLink {
  display: flex;
  width: 50.31vw;
  padding: 1.25vw 1.67vw 1.67vw 1.67vw;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.51vw;
  border-radius: var(--desktop-main, 0.63vw);
  border: var(--desktop-border, 0.1vw) solid var(--grey-tag, #e1e1e1);
  background: var(--porcelain-white, #fff);
}

.S_Profile {
  position: relative;
  padding: 1.708vw 3.151vw 3.33vw 3.229vw;
  width: 96.875vw;
  border-radius: var(--button, 0.417vw) 0 var(--button, 0.417vw)
    var(--button, 0.417vw);
  background: var(--foggy-grey, #f5f5f5);
  min-height: 47.917vw;
}

.S_Collection {
  position: relative;
  width: 96.875vw;
  padding: 1.717vw 4.688vw 2.813vw 4.479vw;
  min-height: 66.094vw;
  border-radius: var(--button, 0.417vw);
  background: var(--foggy-grey, #f5f5f5);
}

.hidden {
  display: none;
}

@media screen and (max-width: 912px) {
  .S_Collection {
    position: relative;
    width: 100vw;
    padding: 5.581vw;
    border-radius: 0;
  }
}
