.W_TopQuestions {
  display: flex;
  gap: 1.354vw;
}

.W_allButtons {
  margin-top: 1.483vw;
  display: flex;
  gap: 10.986vw;
  margin-left: 2.135vw;
}

.W_allEffects {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.W_AuthorRatingMobile {
  display: none;
}

.W_allCategories {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.W_Effects {
  display: flex;
  flex-direction: column;
  gap: 0.625vw;
}

.W_ProgressContainer {
  width: 100%;
  position: relative;
}

.W_mobileIconsHeader {
  display: none;
}

.W_ProgressLine {
  width: 100%;
  height: 0.469vw;
  border-radius: 0.417vw;
  margin-bottom: 0.755vw;
  margin-top: 0.91vw;
  background: var(--soft-grey, #ebebeb);
  position: relative;
}

.W_raitingCreateEffect {
  position: absolute;
  bottom: 8.443vw;
  left: 2.354vw;
  display: flex;
  flex-direction: column;
  transform: rotate(-9.019deg);
  z-index: 0;
}

.W_raitingCountCreateEffect {
  display: inline-flex;
  align-items: center;
  margin: 0.246vw 0 0.393vw 0;
  gap: 0.181vw;
}

.W_feedsMain {
  display: flex;
  flex-direction: column;
  gap: 0.833vw;
}

.W_headerMainFeed {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.W_allCategoriesFeed {
  display: flex;
  flex-direction: column;
  gap: 0.833vw;
}

.W_nameMainFeed {
  display: flex;
  align-items: center;
  gap: 1.146vw;
}

.W_Categories {
  position: relative;
  display: flex;
  gap: 0.833vw;
}

.W_PhotoChoice {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25vw;
  align-self: stretch;
  width: 25.469vw;
}

.W_headerLinkCategory {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end;
  /* margin-bottom: 1.25vw; */
}

.W_starsSend {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.W_allSearch {
  display: flex;
  flex-direction: column;
  gap: 2.19vw;
}

.W_PreviewArea {
  display: flex;
  width: 21.667vw;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.99vw;
}

.W_linkEffect {
  width: 100%;
  position: relative;
}

.W_allCategoriesBanner {
  margin-top: 0.833vw;
  display: flex;
  justify-content: space-between;
}

.W_Agitation {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625vw;
  margin-top: 0.313vw;
  margin-bottom: 1.615vw;
}

.W_inputIcon {
  position: relative;
}

.W_inputIconSubscription {
  margin-top: 0.78vw;
}

.W_appInfo {
  margin-top: 0.99vw;
  margin-left: 1.719vw;
  display: flex;
  gap: 1.406vw;
}

.W_allCollectionSections {
  display: flex;
  flex-direction: column;
  gap: 0.833vw;
}

.W_qrInfo {
  margin-top: 4.479vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.W_qrInfoCollections {
  margin-top: 1.406vw;
  margin-bottom: 1.979vw;
}

.W_nameImg {
  display: flex;
  align-items: center;
  gap: 0.417vw;
}

.W_searchInfo {
  margin-top: 0.833vw;
  display: flex;
  align-items: flex-start;
  gap: 0.625vw;
}

.W_searchInfoFeed {
  margin-top: 1.667vw;
}

.W_searchInfoSmall {
  margin-top: 0;
}

.W_effectCheckbox {
  position: absolute;
  top: 0.83vw;
  right: 0.83vw;
}

.W_Particles {
  position: absolute;
  top: -1.17vw;
  left: -5.85vw;
  width: 22.01vw;
  height: 12.06vw;
  border: 0.11vw solid var(--computer-blue, #0638bd);

  .Q_Particle:nth-child(1) {
    top: -0.313vw;
    left: -0.313vw;
  }
  .Q_Particle:nth-child(2) {
    top: -0.313vw;
    right: -0.313vw;
    left: auto;
  }
  .Q_Particle:nth-child(3) {
    bottom: -0.313vw;
    left: -0.313vw;
    transform: translateX(0%);
    top: auto;
  }
  .Q_Particle:nth-child(4) {
    bottom: -0.313vw;
    right: -0.313vw;
    top: auto;
  }
}

.W_errorContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 19.48vw;

  > h3 {
    margin-top: -0.24vw;
    text-align: center;
  }

  > button {
    margin-top: 1.67vw;
  }
}

.W_buttonsSave {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.W_buttonMyCollection {
  margin-top: 0.83vw;
  padding-right: 3.229vw;
  display: flex;
  justify-content: space-between;
  align-items: center;

  > div,
  button {
    margin: 0;
  }

  > div {
    > input {
      width: 11.88vw;
    }
  }

  > button {
    width: 13.91vw;
  }
}

.W_buttonsSaveEffect {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.67vw;
}

.W_linkFormInputs {
  display: flex;
  flex-direction: column;
  gap: 0.83vw;
  margin-top: 1.67vw;
  margin-bottom: 1.25vw;
}

.W_linkFormInputsPreview {
  width: 17.45vw;
  margin: 0;
}

.W_linkAddLink {
  cursor: pointer;
  margin-top: 0.83vw;
  display: flex;
  align-items: center;
  gap: 0.63vw;
}

.W_categoriesCreatePost {
  margin-top: 0.833vw;
  display: flex;
  width: 96.875vw;
  justify-content: space-between;
}

.W_TextEffectTopCard {
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  gap: 0.625vw;
}

.W_allSectionsMain {
  display: flex;
  flex-direction: column;
  gap: 0.833vw;
}

.W_EffectBody {
  display: flex;
  padding: 0 0.833vw;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.417vw;
  align-self: stretch;
}

.W_allCollectionsButton {
  display: flex;
  gap: 0.469vw;
  margin: 1.563vw auto 0 auto;
}

.W_Collection {
  display: flex;
  width: 100%;
  height: 85.629%;
  padding: 3.846%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3.846%;
  background: var(--porcelain-white, #fff);
}

.W_allContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 88.906vw;
}

.W_PlatformArea {
  margin-top: 1.667vw;
  display: flex;
  flex-direction: column;
  gap: 0.521vw;
}

.W_CategoryArea {
  margin-top: 1.667vw;
  display: flex;
  flex-direction: column;
  gap: 0.625vw;
}

.W_InstructionEffect {
  margin-top: 3.333vw;
  display: flex;
  width: 36.25vw;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25vw;

  p {
    text-align: start;
  }
}

.W_InstructionEffectTablet {
  display: none;
}

.W_More {
  margin-top: 2.813vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.146vw;

  h2 {
    text-align: start;
  }
}

.W_shareRaiting {
  display: flex;
  gap: 5.625vw;
}

.W_ShareArea {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.417vw;
}

.W_RatingArea {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.417vw;
}

.W_infoEffect {
  width: 39.479vw;
}

.W_allComments {
  margin-top: 3.542vw;
  display: flex;
  flex-direction: column;
  gap: 1.25vw;

  h2 {
    text-align: start;
  }
}

.W_allCommentsTablet,
.W_PlatformAreaTablet,
.W_CategoryAreaTablet {
  display: none;
}

.W_CommentArea {
  display: flex;
  padding: 0.833vw 1.25vw;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25vw;
  align-self: stretch;
  border-radius: var(--button, 0.417vw);
  background: var(--porcelain-white, #fff);
}

.W_FooterComment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.W_similarEffects {
  margin-top: 0.833vw;
  width: 100%;
  height: 21.875vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--button, 0.417vw);
  background: var(--foggy-grey, #f5f5f5);
}

.W_feedSettings {
  display: flex;
  flex-direction: column;
  gap: 0.833vw;
}

.W_feedSettingsButtons {
  display: flex;
  gap: 0.625vw;
}

.W_HintModeration {
  position: relative;
  display: inline-block;

  &:hover .Q_ModerationTooltip {
    visibility: visible;
    opacity: 1;
  }
}

.W_registrationForm {
  position: relative;
  padding: 2.708vw 0 3.229vw 0;
  height: 26.042vw;
  border-radius: 0.313vw;
  background: var(--foggy-grey, #f5f5f5);
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.W_PhotoCollection {
  display: flex;
  align-items: center;
  height: 75.547%;
  width: 100%;
  gap: 0.481%;
}

.W_allCollections {
  margin-top: 2.083vw;
  display: flex;
  flex-direction: column;
  gap: 1.25vw;
}

.W_twoImages {
  display: flex;
  flex-direction: column;
  gap: 0.417vw;

  > img {
    width: 4.844vw;
    height: auto;
  }
}

.W_columnCollections {
  display: flex;
  flex-direction: column;
  gap: 1.25vw;
}

.W_allSubscriptions {
  margin-top: 0.833vw;
  display: flex;
  gap: 0.625vw;
}

.W_SubscriptionBody {
  display: flex;
  flex-direction: column;
  gap: 0.417vw;
}

.W_filtrationProgrammEffects {
  display: flex;
  flex-direction: column;
  gap: 0.625vw;
}

.W_Profile {
  display: flex;
  flex-direction: column;
  gap: 1.25vw;
  align-self: stretch;
}

.W_ProfileEffects {
  display: flex;
  flex-direction: column;
  gap: 0.833vw;
  align-self: stretch;
}

.W_EffectBody2 {
  display: flex;
  max-width: 6.771vw;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.208vw;
  flex: 1 0 0;
}

.W_Answer {
  display: flex;
  padding: 0.833vw 1.25vw;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25vw;
  align-self: stretch;
  border-radius: 0.313vw;
  background: var(--porcelain-white);
}

.W_effectNaming {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 47.708vw;
}

.W_favoriteButtons {
  margin-top: 0.625vw;
  display: flex;
  gap: 0.417vw;
}

.W_descEffect {
  margin-top: 1.702vw;
  display: flex;
  gap: 2.604vw;
}

.W_buttonDownload {
  display: flex;
  gap: 0.417vw;

  > img {
    width: 1.771vw;
    height: 1.695vw;
  }
}

.W_programmEffect {
  display: flex;
  flex-direction: column;
  gap: 0.625vw;
}

.W_exectProgrammCurrent {
  display: flex;
  align-items: center;
  gap: 0.313vw;
}

.W_filtersGoalEffects {
  display: flex;
  gap: 1.25vw;
  margin-bottom: 1.042vw;
}

.W_EffectBody {
  display: flex;
  padding: 0 0.833vw;
  flex-direction: column;
  gap: 0.417vw;
  align-self: stretch;
}

.W_allAssetsCollection {
  display: flex;
  gap: 0.833vw;
}

.W_tutorsCollection {
  display: flex;
  flex-direction: column;
  gap: 0.833vw;
}

.W_allLinksHeader {
  display: flex;
  gap: 4.931vw;

  > a {
    color: black;
    font-family: "Basis Grotesque Pro";
    font-size: 1.667vw;
    font-weight: 400;
    line-height: 101%;
  }
}

.W_headerPromo {
  display: flex;
  align-items: center;
  justify-content: space-between;

  > h1 {
    font-family: "Basis Grotesque Pro";
    font-size: 4.578vw;
    font-weight: 700;
    line-height: 115%;
    text-transform: uppercase;
    flex-shrink: 2;
    width: 65.206vw;
  }
}

.W_imgThreeBacsDesc {
  display: flex;
  flex-direction: column;
  gap: 0.849vw;

  > p {
    font-family: "Basis Grotesque Pro";
    font-size: 1.667vw;
    font-weight: 500;
    line-height: 122.765%;
  }
}

.W_imgThreeBacsDescMini {
  position: relative;

  div:nth-child(1),
  div:nth-child(2) {
    position: absolute;
    width: 36.188vw;
    height: 36.482vw;
    flex-shrink: 0;
    border-radius: 0.347vw;
    border: 1px solid #8f8f8f;
  }

  > div:nth-child(1) {
    top: -0.616vw;
    left: 0.574vw;
  }

  > div:nth-child(2) {
    top: -1.231vw;
    left: 1.21vw;
  }
}

.W_imgThreeBacsDescMini2 {
  position: relative;

  div:nth-child(1),
  div:nth-child(2) {
    position: absolute;
    width: 20.462vw;
    height: 25.296vw;
    border-radius: 0.347vw;
    border: 1px solid #8f8f8f;
  }

  > div:nth-child(1) {
    top: -0.616vw;
    left: 0.574vw;
  }

  > div:nth-child(2) {
    top: -1.231vw;
    left: 1.21vw;
  }
}

.W_imgsOpportunity {
  margin-top: 3.373vw;

  img {
    width: 62.71vw;
    height: 30.535vw;
  }
}

.W_allImagesCollections {
  margin-top: 4.981vw;
  display: flex;
  align-items: flex-end;
}

.W_aboutUser {
  display: inline-flex;
  align-items: center;
  gap: 1.175vw;

  > img {
    width: 3.598vw;
    height: 3.598vw;
  }

  > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.661vw;

    > h2:nth-child(1) {
      color: #343434;
      font-family: "Suisse Intl";
      font-size: 1.346vw;
      font-weight: 500;
      line-height: 1.162vw;
    }

    > h2:nth-child(2) {
      color: #343434;
      font-family: "SuisseIntl-Medium";
      font-size: 0.856vw;
      font-weight: 500;
      line-height: 0.856vw;
    }
  }
}

.W_allUserInfo {
  display: flex;
  flex-direction: column;
  gap: 1.124vw;
  position: relative;
  z-index: 5;
  width: 29.768vw;
  height: 11.177vw;
  border-radius: 0.347vw;
  border: 1px solid #e8e2f0;
  background: #e8e2f0;
  padding: 1.126vw 1.431vw 1.301vw 1.142vw;

  > p {
    font-family: "Basis Grotesque Pro";
    font-size: 1.667vw;
    font-weight: 500;
    line-height: 122.765%;
  }
}

.W_allUsersInfo {
  margin-top: 4.426vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.802vw;
}

.W_interfaceItemsProfile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.W_userInfo {
  margin-top: 0.156vw;
  display: flex;
  flex-direction: column;
  gap: 0.833vw;
  width: 24.271vw;
}

.W_buttonsProfile {
  margin-top: 1.25vw;
  display: flex;
  flex-direction: column;
  gap: 0.625vw;
  width: 11.979vw;
}

.W_postsProfile {
  margin-top: 2.813vw;
  width: 87.917vw;
  display: flex;
  flex-direction: column;
  gap: 0.833vw;
}

.W_shareProfile {
  display: flex;
  align-items: center;
  gap: 2.865vw;
}

.W_shareProfileEdit {
  opacity: 0;
}

.W_allInfoEditProfileDesc {
  display: flex;
  gap: 1.563vw;
}

.W_imageUploadAvatar {
  display: flex;
  flex-direction: column;
  gap: 1.25vw;
  align-items: center;
}

.W_buttonsSafeDelete {
  position: absolute;
  bottom: 2.303vw;
  display: flex;
  width: 90.417vw;
  justify-content: space-between;
}

.W_nameUser {
  display: flex;
  flex-direction: column;
  gap: 0.625vw;
}

.W_SelectedCategoryTag {
  display: flex;
  align-items: center;
  gap: 0.42vw;
}

.W_tgSection {
  display: flex;
  align-items: center;
  gap: 0.417vw;
}

.W_socialTg {
  margin-top: 0.833vw;
  display: flex;
  flex-direction: column;
  gap: 0.625vw;
}

.W_socialTgDescMobile {
  display: none;
}

.W_collectionElements {
  display: flex;
  flex-direction: column;
  gap: 0.833vw;

  > h2 {
    text-align: start;
  }
}

.W_editCollection {
  display: flex;
  justify-content: space-between;
}

.W_coverCategory {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90.365vw;
  height: 22.083vw;
  border-radius: var(--main, 0.625vw);
  background: #ffffff;
  overflow: hidden;
}

.W_allButtonsCategory {
  width: 88.542vw;
  margin-top: 2.813vw;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.W_allButtonsCategoryTrends {
  justify-content: flex-end;
}

.W_allCategoriesShow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.W_tasksCategories {
  display: flex;
  flex-direction: column;
  gap: 0.833vw;
}

.W_socialTgDesc {
  margin: 0;
}

.W_allInfoProfole {
  display: flex;
}

.W_allInfoEditProfile {
  margin-top: 0.156vw;
  display: flex;
  flex-direction: column;
  gap: 1.667vw;
}

.W_infoEditProfile {
  display: flex;
  width: 21.979vw;
  flex-direction: column;
  gap: 0.625vw;
}

.W_allLinksHeaderMain,
.W_commonLinksHeader {
  display: flex;
}

.W_allMyEffects {
  margin-top: 0.833vw;
}

.W_inputIconEffectSearch {
  width: 12.275vw;
}

.W_ShareAreaUser {
  gap: 0.833vw;
}

.W_Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.W_searchPublishPost {
  display: flex;
  justify-content: space-between;
}

.W_EffectsCollection {
  display: flex;
  gap: 0.417vw;
  flex-wrap: wrap;
  width: 90vw;
}

.hidden {
  display: none;
}

.W_noResults {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
  padding: 2rem;
}

.W_noResults .M_EmptyState {
  text-align: center;
  max-width: 400px;
}

.W_noResults .A_Header2 {
  margin-bottom: 1rem;
  color: var(--charcoal-black);
}

.W_noResults .A_TextEffectDescription {
  color: var(--ordinary-grey);
}

@media (min-width: 768px) and (max-width: 1023px) {
  .W_similarEffects {
    width: 95.833vw;
    height: 33.203vw;
    border-radius: var(--tablet-button, 0.781vw);
  }

  .W_InstructionEffectTablet,
  .W_PlatformAreaTablet,
  .W_allCommentsTablet,
  .W_CategoryAreaTablet {
    display: flex;
  }

  .W_InstructionEffectPC,
  .W_PlatformAreaPC,
  .W_CategoryAreaPC,
  .W_allCommentsPC,
  .W_ShareAreaNoneTablet {
    display: none;
  }

  .W_searchInfo {
    margin-top: 2.083vw;
  }

  .W_CategoryAreaTablet {
    margin-top: 0;
    gap: 1.042vw;
  }

  .W_PlatformAreaTablet {
    gap: 1.302vw;
  }

  .W_programmsTablet {
    display: flex;
    gap: 1.042vw;
  }

  .W_inputIconEffectSearch {
    width: 28.646vw;
  }

  .W_inputIconSubscription {
    margin-top: 1.563vw;
  }

  .W_coverCategory {
    width: 88.021vw;
    height: 28.646vw;
    border-radius: var(--tablet-button, 0.781vw);
  }

  .W_allButtonsCategory {
    align-items: flex-start;
  }

  .W_allCollectionSections {
    gap: 1.042vw;
  }

  .W_shareRaiting {
    flex-direction: column;
    gap: 3.125vw;
  }

  .W_shareProfile {
    gap: 3.125vw;
  }

  .W_nameUser {
    gap: 1.042vw;
  }

  .W_userInfo {
    flex-direction: row;
    gap: 6.51vw;
    width: fit-content;
  }

  .W_socialTgTablet {
    margin-top: 0;
  }

  .W_allInfoProfole {
    flex-direction: column;
    gap: 3.125vw;
  }

  .W_buttonsProfile {
    margin-top: 3.125vw;
    flex-direction: column;
    gap: 1.042vw;
    width: 23.698vw;
  }

  .W_tgSection {
    gap: 1.042vw;
  }

  .W_postsProfile {
    margin-top: 5.469vw;
    width: 86.771vw;
    gap: 1.563vw;
  }

  .W_linkFormInputsPreview {
    width: 28.646vw;
  }

  .W_editCollection {
    margin-top: 2.083vw;
  }

  .W_collectionElements {
    gap: 1.563vw;
  }
}

@media screen and (max-width: 767px) {
  body,
  html {
    overflow-x: hidden;
    width: 100%;
    max-width: 100vw;
  }

  .W_categoriesCreatePost {
    margin-top: 3.721vw;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
  }

  .W_inputIconEffectSearch {
    width: 89.744vw;
  }

  .W_inputIconSubscription {
    margin-top: 3.077vw;
  }

  .W_allSectionsMain {
    gap: 3.428vw;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }

  .W_Effects {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .W_shareProfile {
    flex-direction: column;
    gap: 3.077vw;
    align-items: flex-start;
  }

  .W_Effects .C_Effects {
    flex-wrap: nowrap;
    width: 100%;
  }

  .W_Effects .C_Effects + .C_Effects {
    margin-top: -2.326vw;
    padding-top: 0;
  }

  .W_TextEffectTopCard {
    gap: 2.791vw;
    padding-left: 3.077vw;
  }

  .W_allCategories {
    > a {
      display: none;
    }
  }

  .W_searchInfoFeed {
    margin-top: 3.721vw;
  }

  .W_searchInfo {
    gap: 4.651vw;
    margin-top: 3.077vw;
  }

  .W_allCollections {
    margin-top: 6.977vw;
    display: flex;
    flex-direction: column;
    gap: 4.651vw;
  }

  .W_registrationForm {
    padding: 6.512vw 0 9.767vw 0;
    height: 120vw;
    border-radius: 0;
  }

  .W_raitingCreateEffect {
    bottom: 38.372vw;
    left: 11.628vw;
    transform: rotate(-9.019deg);
  }

  .W_raitingCountCreateEffect {
    margin: 1.035vw 0 0.107vw 0;
    gap: 0.763vw;
  }

  .W_allEffectsMobile {
    display: flex;
    gap: 14.186vw;
    align-items: center;
  }
  .W_allContent {
    align-items: flex-start;
    width: 100vw;
    padding: 6.154vw 2.051vw;
  }
  .W_HintModeration {
    display: none;
  }
  .W_infoEffect {
    width: 100%;
  }
  .W_PlatformArea {
    margin-top: 7.179vw;
    gap: 3.077vw;
  }
  .W_CategoryArea {
    margin-top: 6.154vw;
    gap: 2.051vw;
  }
  .W_InstructionEffect {
    margin-top: 10.769vw;
    width: 89.744vw;
    gap: 4.103vw;
    font-size: 4.1vw;
    line-height: 5.64vw;
  }
  .W_shareRaiting {
    flex-direction: column-reverse;
    gap: 4.651vw;
  }
  .W_RatingArea {
    gap: 2.051vw;
  }
  .W_RatingAreaMobile {
    gap: 0.465vw;
  }
  .W_RatingAreaNone {
    display: none;
  }
  .W_ShareArea {
    gap: 3.077vw;
  }

  .W_ShareAreaNone {
    display: none;
  }
  .W_allComments {
    margin-top: 6.154vw;
    gap: 4.103vw;
  }
  .W_CommentArea {
    padding: 3.721vw 5.581vw;
    gap: 5.581vw;
    border-radius: 1.395vw;
  }

  .W_AuthorRatingMobile {
    margin-top: 6.154vw;
    width: 100%;
    display: flex;
    gap: 6.923vw;
  }

  .W_similarEffects {
    margin-top: 3.077vw;
    width: 93.846vw;
    border-radius: var(--mobile-button, 1.538vw);
    height: auto !important;
    overflow-x: hidden;
    padding: 0 !important;
    border-radius: 0;
    display: block !important;
  }

  .W_allButtonsCategory {
    display: none;
  }

  .W_collectionElements {
    gap: 3.077vw;
  }

  .W_coverCategory {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 90.365vw;
    height: fit-content;
    border-radius: var(--main, 0.625vw);
    background: transparent;
  }

  .W_allInfoProfole {
    flex-direction: column;
    align-items: center;
  }

  .W_userInfo {
    width: fit-content;
  }

  .W_nameUser {
    align-items: center;
  }

  .W_socialTgDesc {
    margin-top: 4.103vw;
    gap: 2.051vw;
    width: 89.744vw;
  }

  .W_mobileIconsHeader {
    display: flex;
    align-items: center;
    gap: 4.1vw;
    position: absolute;
    top: 18.08vw;
    right: 13vw;
    z-index: 1000;
  }

  .W_buttonsProfile {
    margin-top: 6.154vw;
    flex-direction: column;
    gap: 2.051vw;
    width: 89.744vw;
  }

  .W_postsProfile {
    margin-top: 8.205vw;
    width: 100%;
    gap: 3.077vw;
  }

  .W_EffectsCollection {
    gap: 2.051vw;
    width: 90vw;
    flex-wrap: nowrap;
  }

  .W_commonLinksHeader,
  .W_socialTgMobile {
    display: none;
  }

  .W_linkFormInputsPreview {
    width: 82.821vw;
    gap: 2.051vw;
  }

  .W_tgSection {
    gap: 2.051vw;
  }

  .W_socialTgDescMobile {
    display: flex;
  }
}
