<div id="<%= dom_id news_feed %>">
  <p>
    <strong>User:</strong>
    <%= news_feed.user_id %>
  </p>

  <p>
    <strong>Effect:</strong>
    <%= news_feed.effect_id %>
  </p>

  <p>
    <strong>Collection:</strong>
    <%= news_feed.collection_id %>
  </p>

</div>
