<footer>
  <div class='A_logoFooter'>
    <%= image_tag("efix.svg", alt: "Картинка логотипа", class: "logo-large") %>
    <%= image_tag("efix-small.svg", alt: "Картинка логотипа", class: "logo-small") %>
  </div>
  <div class='W_allInfo'>
    <div class='W_infoCourse'>
      <h2>adc ac</h2>
      <h2>2024/2025</h2>
    </div>
    <div class='C_infoCreators'>
      <h3>создатели</h3>
      <div>
        <p>Константин Удод</p>
        <p>Ксения Климова</p>
        <p>Анна Деревянкина</p>
      </div>
    </div>
    <div class='C_infoCreators'>
      <h3>кураторы</h3>
      <div>
        <p>Захар День</p>
        <p>Вадим Булгаков</p>
        <p>Дмитрий Александров</p>
      </div>
    </div>
  </div>
</footer>
