<footer class='O_footer'>
  <div class="C_Info">
    <div class='A_Logo'>
      <%= image_tag("eflectica.svg", alt: "Картинка логотипа", class: "A_Logo") %>
    </div>
    <div class="M_Info">
      <p class="A_TextS">eflectica</p>
      <p class="A_TextS">2024/2025</p>
      <p class="A_TextS">adc ac</p>
    </div>
  </div> 

  <div class="C_Authors">
    <div class="M_Creators">
      <p class='A_TextXS'>создатели</p>
      <h2 class='A_TextH2'>Константин Удод<br>
        Ксения Климова<br>
        Анна Деревянкина</p>
    </div>
    <div class="M_Curators">
      <p class="A_TextXS">кураторы</p>
      <h2 class="A_TextH2">Захар День<br>
        Вадим Булгаков<br>
        Дмитрий Александров</p>
    </div>
  </div>
</footer>
